body {
  padding: 0;
  margin: 0;  
  font-family: 'Roboto', sans-serif;
}

.textHover:hover {
  color: #f5a300 !important;
}

.desktop-menu-bar li.open>a{
  background: #f9ba3b !important;
}

.desktop-menu-bar li a {
  font-weight: bold;
  color: #ffffff !important;
  text-transform: uppercase;
}

.desktop-menu-bar li a:hover {
  background: #f9ba3b !important;
}

.desktop-menu-bar li ul{
  background: #f5a300;
  border: none;
}